.redeem-list-header {
  margin-bottom: 20px;
}

.redeem-list-title {
  font-size: 30px;
  color: brown;
  font-weight: bold;
}

.redeem-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.redeem-details {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.redeem-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.redeem-points {
  margin-bottom: 5px;
}

.redeem-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redeem-list-footer {
  margin-top: 10px;
}

.redeem-footer-text {
  margin-right: 5px;
  font-weight: bold;
}

.redeem-footer-value {
  font-weight: bold;
}

.add-redeem-button {
  margin-top: 10px;
}
