<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="isLoading" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="!isLoading" style="text-align: center; padding: 10px">
        <div>
          <h1 style="font-size: 40px; font-weight: bold; color: brown">Admin Home Page</h1>
        </div>
        <app-admin-metadata></app-admin-metadata>
        <hr>
        <form #newGroupForm="ngForm" (ngSubmit)="addNewGroup(newGroupForm)" *ngIf="!isLoading"
              style="display: flex; align-items: center">
          <label style="font-weight: bold; font-size: 20px; flex: 2; margin-right: 10px;" for="newGroupText">New Group</label>
          <input style="flex: 8; margin-right: 10px; padding: 20px;" class="form-check-input" id="newGroupText"
                 type="text"
                 ngModel="{{newGroupText}}" name="newGroupText" required/>
          <button style="flex: 2; margin-right: 10px;" mat-flat-button color="warn" type="submit"> Add</button>
        </form>
        <hr>
        <div>
          <div style="display: flex; justify-content: space-between">
            <h1 style="font-size: 30px; color: brown;text-align: start">Groups List</h1>
          </div>
          <app-question-groups></app-question-groups>
        </div>
        <hr>
        <app-guests></app-guests>
        <hr>
        <button mat-flat-button color="warn" (click)="onGenerateReferral()"> Generate Referral</button>
        <hr>
        <button mat-flat-button color="warn" (click)="onLogout()"> Logout</button>
      </div>
    </div>
  </div>
</div>
