<div class="welcome-page">
  <img src="../../assets/background.jpg" alt="Background image" class="background-image">
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>Welcome to Referral Quiz</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="text-body">Play and gain points and referral your friend.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" (click)="play()">Play</button>
    </mat-card-actions>
  </mat-card>
</div>
